/CheckPalindrome(GUI)/nbproject/private/
/CheckPalindrome(GUI)/build/
/CheckPalindrome(GUI)/dist/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/dist/
/OlaMundoJavaFX/build/